/* Estilos adicionais para o Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-control-zoom {
  margin-right: 10px !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  padding: 0;
}

.leaflet-popup-content {
  margin: 10px 14px;
  line-height: 1.5;
}

.leaflet-popup-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.leaflet-popup-content p {
  margin: 5px 0;
}