/* Estilos adicionais para o Leaflet */
.leaflet-container {
  width: 100% !important;
  height: 500px !important;
  z-index: 1;
  position: relative !important;
  visibility: visible !important;
  opacity: 1 !important;
  transition: none !important;
}

/* Desativar animações para evitar piscadas */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity: 1 !important;
  transition: none !important;
}

.leaflet-zoom-anim .leaflet-zoom-animated {
  transition: none !important;
}

.leaflet-control-zoom {
  margin-right: 10px !important;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
  padding: 0;
}

.leaflet-popup-content {
  margin: 10px 14px;
  line-height: 1.5;
}

.leaflet-popup-content h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.leaflet-popup-content p {
  margin: 5px 0;
}

/* Garantir que o mapa permaneça visível */
.leaflet-map-pane {
  z-index: 2 !important;
}

.leaflet-tile-pane {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Evitar problemas com z-index */
.leaflet-control {
  z-index: 800 !important;
}
